/* Chatroom styling */

.chatbox {
  position: absolute;
  top: 6rem;
  right: 4rem;
  width: 42rem;
  height: 40rem;
  background-color: lighten($background-color, 5%);
  border-radius: 20px;
}

#messages {
  height: 36rem;
  overflow-y: auto;
  padding: 2rem 1rem 1rem;
}
#messages > li {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

#form-chat {
  background-color: $Primary;
  padding: 0.7rem 0.8rem 1.2rem 0.8rem;
  display: flex;
  height: 4.5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
}
#input-chat {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input-chat:focus {
  outline: none;
}

#chat_button {
  background-color: lighten($button-color, 18%);
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
}

#chat_button:hover {
  background-color: darken($button-color, 15%);
  color: $font-white;
}

#chat_button:focus {
  background-color: ighten($button-color, 18%);
  color: $font-white;
}
