/* Chatroom styling */

.chatbox {
  position: absolute;
  top: 6rem;
  right: 4rem;
  width: 42rem;
  height: 41rem;
  background-color: lighten($background-color, 6%);
  border-radius: 20px;
}

.chatbox_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lighten($Primary, 5%);
  width: 42rem;
  height: 3rem;
  border-radius: 20px 20px 0 0 ;
}

.room-name {
  margin: 1rem;
  font-size: $font-large;
  color: $font-white;
}

.chatbox_close {
  position: relative;
  left: 13rem;
  height: 1.6rem;
  width: 2.7rem;
  border-radius: 10px;
  background-color: $button-color;
  color: $font-white;
  border: 1px solid lighten($button-color, 30%);
  // color: darken($Primary, 10%);
}

.chatbox_close:hover {
  background-color: rgb(245, 141, 100);
  border: 1px solid lighten($button-color, 30%);
  color: $font-white;
  border-radius: 10px;
}

.messages-list {
  height: 32rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem 2rem 1rem;
}
.message-item{
  padding: 0.5rem 1rem;
  margin: 0.7rem 0;
  width:fit-content;
  border-radius: 15px;
}

.my-message {
  align-self: flex-end;
  background-color: lighten($button-color, 18%);
}

.received-message {
  align-self: flex-start;
  background-color: rgb(255, 225, 213);
}

.chat_inputBtn {
  display: flex;
}

#chat_input {
  border: none;
  padding: 0 1rem;
  outline: none;
  height: 3rem;
  width: 39rem;
  overflow-y: auto;
  overflow-wrap: break-word;
}

#chat_button {
  background-color: lighten($button-color, 18%);
  padding: 0 1rem;
  // margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: darken($Primary, 20%);
}

#chat_button:hover {
  background-color: darken($button-color, 15%);
  color: $font-white;
  border-radius: 10px;
}

#chat_button:focus {
  background-color: ighten($button-color, 18%);
  padding: 0 1rem;
  border-radius: 10px;
  outline: none;
  color: darken($Primary, 20%);
}

.chatbox_footer {
  background-color: lighten($Primary, 5%);
  width: 42rem;
  height: 3rem;
  border-radius: 0 0 20px 20px;
}




