.loginBorder {
  width: 25%;
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  .loginComp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-field {
    margin-top: 0.3rem;
    padding: 0.25rem 1.25rem;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
  }
}
