.top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: darken($Primary, 5%);
}

.brandname {
  font-family: 'Faustina';
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: $font-white;
}

.newQ_button {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
}

.newQ_button:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.newQ_button:focus {
  transform: scale(1.1);
  border-radius: 5px;
}

.signOut_button {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
}

.signOut_button:hover {
  transform: scale(1.1);
  border-radius: 5px;
}
