.top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: darken($Primary, 5%);
}

.brandname {
  font-family: 'Faustina';
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: $font-white;
}

.newQ_button {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  width: 7rem;
  height: 1.6rem;
  font-size: $font-medium;
}

.newQ_button:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.newQ_button:focus {
  transform: scale(1.1);
  border-radius: 5px;
}

#navLogout {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 14px;
  margin: 8px;
  width: 5rem;
  height: 1.6rem;
}

#navLogout:hover {
  transform: scale(1.1);
  border-radius: 5px;
  background-color: white;
}

#navLogout a {
  font-size: $font-medium;
}
