.top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: darken($Primary, 5%);
}

.brandname {
  font-family: 'Faustina';
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: $font-white;
}

.newQ_button {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
}

#navLogout:visited {
  color: black;
}

#navLogout {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 14px;
  margin: 8px;
  color: black;
}
