$font-logo: 24px;
$font-large: 18px;
$font-medium: 14px;
$font-small: 12px;
$font-micro: 11px;

// Color Pallete
$Primary: #0097a7;
$Secondary: #4dd0e1;
$Accent1: #006978;
$Black-color: #242424;
$white-color: #ffffff;
$font-white: #fafafa;
$font-dark: #263238;
$button-color: #80deea;
$background-color: #e0f2f1;
